:root {
  --clr-primary-100: #ffc43d;
  --clr-primary-200: #874fff;
  --clr-primary-300: #d12145;
  --clr-pry-gradient-400: linear-gradient(
    227.2deg,
    #ffc43d 7.69%,
    #d12145 100%
  );

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(35, 74%, 95%);
  --clr-neutral-300: #1a1c1a;
  --clr-neutral-400: hsl(300, 100%, 0%);

  --fs-100: 1rem;
  --fs-200: 1.125rem;
  --fs-300: 1.25rem;
  --fs-320: 2rem;
  --fs-400: 2.25rem;
  --fs-500: 3rem;
  --fs-600: 4rem;
  --fs-700: 4.375rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;

  --ff-long-summer: "Long Summer";
}

@font-face {
  font-family: "Aeonik";
  src: url("Aeonik/Aeonik-Regular.otf");
}

@font-face {
  font-family: "Aeonik medium";
  src: url("Aeonik/Aeonik-Medium.otf");
}

@font-face {
  font-family: "Long Summer";
  src: url("Long-summer/LongSummer.otf");
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-decoration: none;
  list-style-type: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  /* height: 100%; */
  font-family: "Aeonik medium";
}
/* Set core body defaults */
body {
  /* letter-spacing: 1px; */
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
  /* border-radius: 17px; */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* utility classes */

.clr-primary-100 {
  background-color: var(--clr-primary-100);
}

.clr-primary-200 {
  background-color: var(--clr-primary-200);
}

.clr-primary-300 {
  background-color: var(--clr-primary-300);
}

.clr-pry-gradient-400 {
  background-image: var(--clr-pry-gradient-400);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.clr-neutral-200 {
  color: var(--clr-neutral-200);
}

.bg-clr-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.clr-neutral-400 {
  color: var(--clr-neutral-400);
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-320 {
  font-size: var(--fs-320);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.flex {
  display: flex;
  gap: 1rem;
}

.flex-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.flex-space-evn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.grid-col {
  display: grid;
  gap: 1rem;
}

.ff-long-summer {
  font-family: var(--ff-long-summer);
}

.b-r-60 {
  border-radius: 3.75rem;
}

.b-r-10 {
  border-radius: 0.625rem;
}

/* general styling */

body {
  background-color: var(--clr-neutral-200);
  font-size: var(--fs-300);
  padding: 2.5rem 0;
}

header,
main,
footer {
  max-width: 1370px;
  margin: auto;
}

nav {
  width: 31.25rem;
  border-radius: 3.75rem;
}

nav li {
  padding: 1rem;
}

.event {
  border-bottom: 3px solid var(--clr-neutral-400);
}

main {
  margin-top: 4rem;
}

:where(main section:not(:first-child)) {
  margin-top: 5rem;
}

.banner {
  border-radius: 1.25rem;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  text-align: center;
  line-height: 1.3;
}

button {
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  box-shadow: 0.8rem 0.8rem var(--clr-neutral-300);
}

.heading {
  padding-right: 0.7rem;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
  padding: 4rem;
  border-radius: 1.25rem;
  margin-top: 3rem;
}

.activities div {
  border: 1px solid var(--clr-neutral-100);
  padding: 0.7rem 1.9rem;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1.25rem;
  margin-top: 3rem;
}

.social-tag {
  height: 18.375rem;
  padding: 2rem;
  border-radius: 0.625rem;
}

.social-tag p {
  line-height: 1;
}

.members {
  align-items: flex-end;
}

.brands {
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
  border-radius: 1.25rem;
  margin-top: 3rem;
}

footer {
  margin-top: 7rem;
}

.footer-cont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5rem;
  border-radius: 1.25rem;
  margin-top: 4rem;
  align-items: flex-start;
}

footer a {
  color: var(--clr-neutral-100);
}

.footer-info {
  align-items: flex-start;
}
